.content
	padding-top 53px
	padding-left 110px
	padding-right 120px
	padding-bottom 60px

	&__info
		margin-bottom 24px

	&__graduate
		margin-bottom 18px

	&__skills
		margin-bottom 66px

	&__rangeslider
		margin-bottom 43px

