//color variables
dark = #000
body = #797979		//color for body bg
title = #2f1b15		//color for bold text
regular = #231f20	//color for regular text
small_t= #3d3d3d		//color for small regular text
link = #014f98		//link color
