.graduate
	position relative
	font-family ptsansbold
	font-size 22px
	font-weight bold
	line-height 50px

	&__text
		display inline-block
		margin-right 10px

	&__link
		color link

	&__radio-group
		display inline-block
		margin-right 15px
