.logo
	display block
	height 52px
	width 144px
	color title
	font-size 10px
	text-decoration none

	&__img
		height 36px
		width 144px
		text-indent 100%
		white-space nowrap
		overflow hidden
		retinaSprite $logo_group

	&__text
		font-family ptsans
		line-height 24px
		white-space nowrap


