.header
	clearfix()
	padding-top 49px
	padding-x 46px
	padding-bottom 30px

	&__left-block
		float left
		margin-top 18px
		margin-left 3px

	&__right-block
		float right
		height 106px
		width 252px
		margin-right 8px
		retinaSprite $stamp_group
