.info

	&__line
		clearfix()
		height 61px

	&__question
		float left
		margin-top 24px
		margin-right 16px
		font-family ptsansbold
		font-size 22px
		font-weight bold

	&__answer
		padding-left 14px
		color regular
		font-family courier
		font-size 30px
		line-height 45px
		background transparent url(../images/bg-line-1.png) right bottom no-repeat
		overflow hidden

		&_bg_line2
			background transparent url(../images/bg-line-2.png) right bottom no-repeat

		&_short
			display inline-block
			padding-left 10px
			padding-right 18px
			background transparent url(../images/bg-line-3.png) right bottom no-repeat


