.skills
	clearfix()

	&__title
		font-family ptsansbold
		font-size 22px
		line-height 47px
		font-weight bold

	&__intro
		position relative
		margin-bottom 13px
		padding-left 18px
		color small_t
		font-size 14px
		line-height 22px

		&:before
			position absolute
			top 10px
			left 0
			content '*'
			color small_t
			font-size 36px
			line-height 22px

	&__col
		float left

		&_1
			width 260px

		&_2
			width 279px

		&_3
			width 230px



