.rangeslider

	&__title
		margin-left 10px
		margin-bottom 24px
		font-family ptsansbold
		font-size 22px
		line-height 50px
		font-weight bold

	&__body
		position relative
		margin-left 12px
		margin-bottom 7px
		retinaSprite $rangeslider_group

	&__marker
		position absolute
		top -14px
		left 366px
		retinaSprite $marker_group
		cursor pointer

	&__info
		position relative
		height 36px
		width 100%

	&__point
		position absolute
		font-family ptsansbold
		font-size 13px
		line-height 18px
		font-weight bold

		&_1
			left 12px

		&_2
			left 158px

		&_3
			left 385px

		&_4
			left auto
			right 0
